@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

:root {
    /* Fonts */
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Colors */
    --darkblue: hsl(240, 38%, 20%);
    --grayishblue: hsl(240, 18%, 77%);
}

.b-container {
    display: grid;
    grid-template-rows: 1fr 1rem;
    justify-items: center;
    align-items: center;
    background: bottom left / 80% no-repeat url("/images/pattern-curve.svg");
}


.b-slide__container {
    max-width: 94%;
}

.attribution {
    grid-row: 2/3;
    font-size: .5rem;
}